h1.Title{
    text-align: center;
    background-color:wheat ;
}
div.menu{
    background-color:greenyellow ;
    text-align: center;
}
div.quienes{
    background-color: orange;
}
div.mapa{
    display: inline-block;
}
span.actividades{
    background-color: orange;
    display:block ;
}
span.sueno{
    text-align: center;
    color: purple;
    background-color: yellow;
    
    
}
footer{
    background-color: blue;
    text-align: center;
}